@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-gray-100 dark:bg-gray-100;
  scroll-behavior: smooth;
  overflow-x: hidden;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
